<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!--[if lt IE 9]>
    <script src="/lib/html5shiv.js"></script>
    <script src="/lib/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<h1><%= title %></h1>

<p class="lead">Welcome to <%= title %></p>

<% if (isOpenShift) { %>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Running on Openshift</h3>
    </div>
    <div class="panel-body">
        <p>App Name: <%= openshiftAppName %></p>

        <p>App DNS: <%= openshiftAppDns %></p>

        <p>App UUID: <%= openshiftAppUUID %></p>

        <p>Mongo Host: <%= openshiftMongoHost %></p>

        <p>Mongo Port: <%= openshiftMongoPort %></p>

        <p>Node IP: <%= openshiftNodeIp %></p>

        <p>Node Port: <%= openshiftNodePort %></p>
    </div>
</div>
<% } %>

<% if (dbConnected) { %>
<div class="panel panel-success">
    <% } else { %>
    <div class="panel panel-danger">
        <% } %>
        <div class="panel-heading">
            <h3 class="panel-title">Database Status</h3>
        </div>
        <div class="panel-body">
            <% if (dbConnected) { %>
            <span class="label label-success">Connected</span>
            <% } else { %>
            <span class="label label-danger">Not connected</span><br/>
            <%= dbErrorMessage %>
            <% } %>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Uptime</h3>
        </div>
        <div class="panel-body">
            <%= uptime %> seconds
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Architecture</h3>
        </div>
        <div class="panel-body">
            <%= arch %>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Platform</h3>
        </div>
        <div class="panel-body">
            <%= platform %>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Node version</h3>
        </div>
        <div class="panel-body">
            <%= nodeVersion %>
        </div>
    </div>


    <!--[if lt IE 9]>
    <script src="/lib/jquery/jquery.js"></script>
    <![endif]-->
    <!--[if gt IE 8]>
    <script src="/lib/jquery/jquery2.js"></script>
    <![endif]-->
    <!--[if !IE]>
    <script src="/lib/jquery/jquery2.js"></script>
    <![endif]-->
    <script src="/lib/bootstrap/bootstrap.min.js"></script>

</body>
</html>

